<%- include('partials/header') %>
<%- include('partials/navbar') %>
  
  <h1 class="text-center display-4 my-5">Welcome <%= user[0].user_name %></h1>
  <h3 class="text-center">Your Favorite Characters</h3>
  <div id="myFavs">
    <span hidden id="userId"><%= user[0].user_id %></span>
  </div>

  <h3 class="text-center mt-4">List of all Characters</h3>
  <ul id="allChars" class="list-group mx-auto" style="width: 60%;">
  </ul>
  <script src="getFavs.js"></script>
  <script src="getall.js"></script>
<%- include('partials/footer') %>